				<div class="col-xs-6">
				 <div class="comment-form">
					<%= form_with(model: [book,book_comments]) do |f| %>
						<%= f.text_area :comment, size: "95x5" %>
						<%= f.submit "送信", class: "btn-sm btn-primary  comment-submit float-right" %>
					<% end %>
				</div>